<div class="container-fluid">
  <h2>Check flat details for <%= @flat.name %></h2>
  <%= @flat.description %>
  <%= @flat.address %>
  <p><%= @flat.price_per_night %> euros/night</p>
  <p><%= @flat.number_of_guests %> persons allowed in the flat</p>
</div>
